.projects {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}
/*
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}
.project {
    width: 600px;
    margin: 20px;
    padding: 10px;
    background-color: #e1e1e1;
    border-radius: 13px;
    text-align: center;
}*/
.project-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    gap: 20px 10px; /* Controls the space between grid items */
    justify-content: center;
}

.project {
    /*margin: auto;*/
    padding: 10px;
    background-color: #e1e1e1;
    border-radius: 13px;
    text-align: center;
    max-width: 500px;
    justify-self: center;
}
.project:hover {
    transform: translateY(-5px); /* Slight raise effect on hover */
}
.project h3 {
    color: #333;
}
.project-skills {
    color: #666;
    font-size:1.6ch;
}
.project a {
    display: inline-block;
    margin-top: 10px;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
.project a:hover {
    background-color: #555;
}
.github-link {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Changes cursor to pointer on hover */
    text-decoration: none; /* Removes underline from the link */
    margin-top: 30px;
    margin-bottom: 27px; /* Adjust as needed */
    font-weight: bold;
}
.github-link:hover {
    background-color: #555;
}

.project-description {
    color: #333;
    width: 90%; /* Adjust width as needed */
    margin: 0 auto; /* Centers the description */
    max-width: 400px; /* Optional: Ensures the description does not exceed a certain width */
    text-align: left;
}