.skills {
    background-color: #f0f0f0;
    padding: 40px;
    text-align: center;
  }
  
  .skills h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .skills-list {
    max-width: 600px;
    list-style-type: none; /* Removes default list styling */
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the items horizontally */
    gap: 10px; /* Creates space between items */
  }

  .skills-list-div {
    margin-bottom: 40px;
  }
  
  .skill-item {
    background-color: #e1e1e1;
    padding: 8px 15px;
    border-radius: 5px; /* Slightly rounded corners for each skill */
    font-weight: bold;
  }